<html>
	<head>
		<title>Alt Text Confirm</title>
		{% load staticfiles %}		
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/css/common.css' %}" />
    
    	<script type="text/javascript" src="{% static 'scripts/js/jquery-1.11.2.js' %}"></script>
	</head>
	
	<body>
	
	<div id="pMain">
	
	<div id="topLine">
		<div id="leftTop" class="fLeft">
			<h1>Alt Text Confirm</h1>
		</div>
	
		<div id="rightTop" class="fRight">
			<a href="/scriptpile/scripts/">
			<img src="{% static 'scripts/img/home_24_24.png' %}" alt="home" />
			</a>
		</div>
	
	</div>
	

	result: {{ result }}
	
	<a href="alt_text_grabber">Go Back</a>

	
	</div>
	
	</body>
</html>