<html>
    <head>
        <title>Link Resolver</title>
        {% load staticfiles %}      
        <link rel="stylesheet" type="text/css" href="{% static 'scripts/css/common.css' %}" />
    
        <script type="text/javascript" src="{% static 'scripts/js/jquery-1.11.2.js' %}"></script>
    </head>
    
    <body>
    
    <div id="pMain">
    
    <div id="topLine">
        <div id="leftTop" class="fLeft">
            <h1>Link Resolver</h1>
        </div>
    
        <div id="rightTop" class="fRight">
            <a href="/scriptpile/scripts/">
            <img src="{% static 'scripts/img/home_24_24.png' %}" alt="home" />
            </a>
        </div>
    
    </div>  

    <!-- result: {{ result }}<br> 
    
    <p>
    {% for c in cols_to_check %}
    {{ c }} <br>
    {% endfor %}
    </p> -->

<p>{{url_prefix}}</p>


    {% for col, link_dic in links_rows.items %}
    <h2>Values found in column: {{ col }}</h2>
    <table>
        <tr>
            <th class="w400">File</th>
            <th>Response code</th>
            <th>Response type</th>
        </tr>
        
        {% for url_k, url_v in link_dic.items %}
        
        <tr>
            <td class="w400">
            
            <img src="http://{{host_ref}}{{ dest_dir }}/thumbs/{{ url_v.thumb_name }}" />
            <br>
            {{ url_k }}
            
            </td>
            <td>{{ url_v.resp_code }} 
            {% if url_v.resp_code = "200" %}
                <img src="{% static 'scripts/img/tick_20h.png' %}" alt="200" />
            {% else %}
                <img src="{% static 'scripts/img/cross_20h.png' %}" alt="200" />
            {% endif %}
            </td>
            <td>{{ url_v.resp_type }}</td>

        </tr>
        {% endfor %}
        
    </table>
    {% endfor %}
    
    <br>


    
    </div>
    
    </body>
</html>
