/* CSS Doc */

#pMain {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 100%;
  /*        background-color: gray;   */
}

.lbl {
  float:left;
  width: 20%;
}

.field {
  width: 80%;
}

#topLine {
  width: 100%;
  height: 50px;
}

#leftTop {
	width: 90%;
}

.fLeft {
	float:left;
	
}

.fRight {
	float:right;
}

h1 {
	margin-top: 0px;
	padding-top: 0px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    font-size: 11px;
    border: 1px solid black;
}

td, th {
    padding: 2px;
}

td {
    text-align: left;
    vertical-align: top;
}

.w400 {
    width: 400px;
}
